@import url("/css/styles.css");

.main-container {
  padding: 2rem 4rem;
}

.game-container {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}

@media (max-width: 928px) {
  .game-container {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 600px) {
  .game-container {
    padding: 1rem;
  }
}

.game-image {
  flex: 1 1 50%;
  max-width: 50%;
  padding: 1rem;
}

@media (max-width: 928px) {
  .game-image {
    flex: 0 1 auto;
    max-width: 100%;
  }
}

.game-image img {
  display: flex;
  max-width: 400px;
  width: 100%;
}

@media (max-width: 600px) {
  .game-image {
    flex-shrink: 1;
  }
}

.game-description {
  display: flex;
  flex-direction: column;
  flex: 0 1 50%;
  max-width: 50%;
  padding: var(--padding-md);
  gap: var(--padding-md);
}

/* Pushing the points inside the container by using the same padding:left as the container */
.game-description ul {
  padding-left: var(--padding-md);
}

/* Create space between list items */
.game-description ul li {
  padding-bottom: var(--padding-s);
}

.game-details {
  display: flex;
  flex-direction: column;
  gap: var(--padding-s);
}

/* Making select and buy button smaller inside the context of .game-details, while inheriting default styles */
.game-details select {
  max-width: 50%;
}

.game-details ~ a.buy-button {
  max-width: 50%;
}

@media (max-width: 1024px) {
  .game-image,
  .game-description {
    max-width: 100%;
  }
}
