@import url("/css/styles.css");

.l-section-center {
  display: flex;
  color: var(--white);
  flex-wrap: wrap;
  gap: var(--padding-s);
  justify-content: center;
  padding: var(--padding-s);
}

.form {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  border-radius: var(--border-radius-s);
  padding: 4vw 2vh;
  gap: 1.5vh;
  max-width: 500px;
  font-family: var(--font-family-primary);
}
select,
input,
textarea,
fieldset {
  background-color: var(--dark-purple);
  border-radius: var(--border-radius-s);
  border: 1px solid var(--light-purple);
  color: var(--white);
  padding: var(--padding-s);
  font-family: var(--font-family-primary);
}

input[type="submit"] {
  background: var(--dark-green);
  outline: none;
  cursor: pointer;
  max-width: 200px;
  color: var(--black);
  font-size: var(--text-l);
  padding: var(--padding-s);
}
.l-input-form {
  display: flex;
  flex-direction: column;
}

label,
textarea {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

label {
  display: block;
  padding-top: var(--padding-s);
  padding-bottom: var(--padding-s);
}

textarea {
  color: var(--white);
  padding: var(--padding-s);
  /* max-width: 100%; */
  line-height: 1.5;
}
