/* Resets */
*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  /* Contrast colors */
  --white: #efe9f4;
  --black: #25291c;

  /* Primary colors */
  --dark-purple: #282445;
  --light-purple: #8f00ff;
  --pink: #ff00b8;

  /* Secondary colors */
  --light-green: #2fef80;
  --dark-green: #23ce6b;
  --red: #a4031f;
}

body {
}

/* Layout */

.l-gradient {
  background: linear-gradient(
    var(--light-purple),
    var(--dark-purple, var(--pink))
  );
  height: 100dvh;
  background-size: 400% 400%;
  animation: bg 24s ease infinite;
}
@keyframes bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Components */
