@import url("/css/variables.css");
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Resets */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-s);
  color: var(--white);
  font-size: var(--text-md);
}

/* Layout (l-) */

.l-gradient {
  background: radial-gradient(
    var(--dark-purple),
    var(--light-purple, var(--blue))
  );
  height: 100%;
  background-size: 400% 400%;
  animation: bg 24s ease infinite;
}
@keyframes bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.l-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-uneven);
  background: transparent;
  font-weight: var(--font-weight-md);
  text-align: center;
}

@media (max-width: 600px) {
  .l-header {
    flex-direction: column;
    gap: var(--padding-s);
  }
}

/* Hero section on landing page */

.l-hero {
  width: 100%;
  height: 100vh;
  background-image: url(/media/hot-wheels-large.jpg);
  background-size: cover;
  background-position: center;
}
/* Adjusting the vh was the only way to make image scaling work properly without white space, clipping or repeats - I hope there's a smoother way of doing this */
@media (max-width: 1024px) {
  .l-hero {
    height: 70vh;
    background-image: url(/media/hot-wheels-medium.jpg);
  }
}
@media (max-width: 768px) {
  .l-hero {
    height: 60vh;
    background-image: url(/media/hot-wheels-small.jpg);
  }
}
@media (max-width: 600px) {
  .l-hero {
    height: 50vh;
    background-image: url(/media/hot-wheels-extra-small.jpg);
  }
}
@media (max-width: 480px) {
  .l-hero {
    height: 45vh;
    background-image: url(/media/hot-wheels-extra-small.jpg);
  }
}
@media (max-width: 375px) {
  .l-hero {
    height: 40vh;
    background-image: url(/media/hot-wheels-extra-small.jpg);
  }
}
@media (max-width: 320px) {
  .l-hero {
    height: 35vh;
    background-image: url(/media/hot-wheels-extra-small.jpg);
  }
}

.hero-text {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--padding-s);
  text-align: center;
}
.hero-content h1 {
  font-size: var(--text-xl);
  color: var(--white);
  font-family: var(--font-family-secondary);
}
.hero-content .button {
  max-width: 50%;
  font-size: var(--text-md);
  color: var(--black);
  cursor: pointer;
  background-color: var(--dark-green);
  border-radius: var(--border-radius-md);
  padding: var(--padding-uneven);
  outline: none;
  border: none;
}
.hero-content a {
  text-decoration: none;
}
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 35px;
  }
}

.l-section-center {
  display: flex;
  color: var(--white);
  flex-wrap: wrap;
  gap: var(--padding-s);
  justify-content: center;
  padding: var(--padding-s);
}

.l-section-split {
  display: flex;
  padding: var(--padding-l);
}

@media (max-width: 600px) {
  .l-section-split {
    flex-direction: column;
    align-items: center;
  }
}

.l-success {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--padding-l);
  padding: var(--padding-l);
}
@media (max-width: 768px) {
  .l-success {
    padding: var(--padding-s);
  }
}

.article-container {
  width: 90%;
  padding-top: var(--padding-md);
  display: flex;
  flex-direction: row;
  gap: var(--padding-md);
  font-size: var(--text-md);
  text-align: center;
}

.transparent-background {
  background: var(--dark-purple-transparent);
}

.article-item {
  padding: var(--padding-s) 0;
  border-radius: var(--border-radius-s);
  transition: box-shadow 1s ease-in-out; /* slow transition for the hover effect */
}
.article-item:hover {
  box-shadow: 0 0 5px 5px var(--pink-transparent); /* blurry glow effect */
}
.article-item h1 {
  padding-bottom: var(--padding-s);
  font-family: var(--font-family-primary);
  font-size: var(--text-l);
}
.article-item img {
  width: 100%;
  object-fit: cover;
}
.article-item p {
  padding: var(--padding-s);
}
@media (max-width: 768px) {
  .article-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: var(--padding-s);
  }
  .article-item {
    margin: 15px 0;
  }
}

/* Components (c-) */

.c-logo {
  display: flex;
  align-items: center;
  font-family: var(--font-family-secondary);
  font-size: var(--text-xl);
}
.c-logo a {
  color: var(--white);
  text-decoration: none;
}
.c-logo a:hover {
  color: var(--light-green);
}

.c-nav {
  display: flex;
  gap: var(--padding-md);
  font-family: var(--font-family-secondary);
  font-weight: var(--font-weight-l);
}
@media (max-width: 768px) {
  /* Hide the links by default */
  .c-nav {
    display: none;
    flex-direction: column;
    background: transparent;
    position: absolute;
    top: var(--push-l);
    right: 0;
    width: 100%;
  }
}
.c-nav a {
  color: var(--dark-green);
  text-decoration: none;
  margin: 0 1rem;
}
@media (max-width: 768px) {
  .c-nav a {
    display: block;
    padding: var(--padding-md);
    text-align: center;
  }
}
.c-nav a:hover {
  color: var(--light-green);
}
/* Adding a transparent background to the hamburger hover to make it more visible, but still see-through */
@media (max-width: 768px) {
  .c-nav a:hover {
    background-color: var(--dark-purple);
    opacity: 0.7;
  }
}
/* Show navigation when "active" (script.js will toggle this) */
/* I don't remember where I found this functionality - I didn't write it myself */
@media (max-width: 768px) {
  .c-nav.active {
    display: flex;
    top: var(--push-l);
  }
}
@media (max-width: 600px) {
  .c-nav.active {
    display: flex;
    top: var(--push-xl);
    opacity: 0.9;
  }
}
.c-nav a::after {
  text-decoration: none;
}

/* Hamburger menu */

/* Hide on wide screens */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
@media (max-width: 768px) {
  /* Show the menu */
  .hamburger {
    display: flex;
  }
}
/* Hamburger icon */
.hamburger span {
  width: 30px;
  height: 3px;
  background-color: var(--dark-green);
  margin: 5px 0;
}
.hamburger span:hover {
  background-color: var(--light-green);
}

.c-article {
  padding: var(--padding-l);
  text-align: center;
  flex: 1 1 45%;
}
@media (max-width: 600px) {
  .c-article {
    padding: 0;
  }
}
@media (min-width: 768px) {
  .c-article {
    flex: 1;
    padding: var(--padding-l);
  }
}
.c-article a {
  text-decoration: none;
  color: var(--dark-green);
}
.c-article img {
  max-width: 100%;
}
@media (min-width: 768px) {
  .c-article img {
    flex: 1 1 45%;
    max-width: 290px;
  }
}

/* Text */

.c-h1 {
  font-family: var(--font-family-secondary);
  font-weight: var(--font-weight-md);
  font-size: var(--text-xl);
  width: 100%;
  line-height: var(--padding-l);
}
@media (max-width: 768px) {
  .c-h1 {
    text-align: center;
  }
}

.c-h2 {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-l);
  font-size: var(--text-l);
  width: 100%;
  line-height: var(--padding-l);
  padding-bottom: var(--padding-md);
}
@media (max-width: 600px) {
  .c-h2 {
    text-align: center;
  }
}

/* Product cards */

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--padding-md);
  justify-content: center;
  max-width: 1200px;
  padding: var(--padding-md);
}

.product-card {
  display: flex;
  flex-direction: column;
  flex: 1 1 calc(25% - 1rem); /* Four cards per row with gap - I did not write this css myself */
  max-width: 280px;
  height: auto;
  border-radius: var(--border-radius-md);
  overflow: hidden;
  box-shadow: 0 8px 12px var(--black);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
@media (max-width: 1024px) {
  .product-card {
    flex: 1 1 calc(33.33% - 1rem); /* Three cards per row */
  }
}
@media (max-width: 768px) {
  .product-card {
    flex: 1 1 calc(50% - 1rem); /* Two cards per row */
  }
}
@media (max-width: 480px) {
  .product-card {
    flex: 1 1 100%; /* One card per row */
  }
}

/* Hover Effect */

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.buy-button {
  padding: var(--padding-s);
  background-color: var(--dark-green);
  color: var(--black);
  border: none;
  border-radius: var(--border-radius-s);
  cursor: pointer;
  max-width: 400px;
}
.buy-button:hover {
  background-color: var(--light-green);
}
/* The clickable link on product cards */
a.buy-button {
  text-decoration: none;
  font-size: var(--text-md);
  text-align: center;
}
a.buy-button:hover {
  text-decoration: underline;
  text-decoration-color: var(--dark-green);
}

.product-image {
  flex: 1;
  width: 100%;
  transition: transform 0.3s ease;
}
.product-image img {
  width: 100%;
  object-fit: cover;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: var(--padding-md);
  padding: var(--padding-md);
  text-align: center;
  background-color: var(--dark-purple);
}

.product-title {
  font-size: var(--text-l);
  color: var(--white);
  font-weight: var(--font-weight-md);
}

.product-price {
  font-size: var(--text-md);
  color: var(--dark-green);
}

.product-card:hover .product-image {
  transform: scale(1.05);
}

.product-card:hover .buy-button {
  background-color: var(--light-green);
}

/* Contact form */

.form {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  border-radius: var(--border-radius-s);
  padding: 4vw 2vh;
  gap: 1.5vh;
  max-width: 500px;
  font-family: var(--font-family-primary);
}

input[type="submit"] {
  background: var(--dark-green);
  outline: none;
  cursor: pointer;
  max-width: 200px;
  color: var(--black);
  font-size: var(--text-l);
  padding: var(--padding-s);
}
.l-input-form {
  display: flex;
  flex-direction: column;
}

select,
input,
textarea,
fieldset {
  background-color: var(--dark-purple);
  border-radius: var(--border-radius-s);
  border: 1px solid var(--light-purple);
  color: var(--white);
  padding: var(--padding-s);
  font-family: var(--font-family-primary);
}

label,
textarea {
  font-size: var(--text-s);
  letter-spacing: 1px;
}

label {
  display: block;
  padding-top: var(--padding-s);
  padding-bottom: var(--padding-s);
}

textarea {
  color: var(--white);
  padding: var(--padding-s);
  line-height: 1.5;
}

/* Checkout and game-page related styles */

.main-container {
  padding: var(--padding-uneven);
}

.game-container {
  display: flex;
  flex-wrap: wrap;
  padding: var(--padding-l);
}
@media (max-width: 928px) {
  .game-container {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 600px) {
  .game-container {
    padding: var(--padding-md);
  }
}

.game-image {
  flex: 1 1 50%;
  max-width: 50%;
  padding: var(--padding-md);
}
@media (max-width: 600px) {
  .game-image {
    flex-shrink: 1;
  }
}
@media (max-width: 928px) {
  .game-image {
    flex: 0 1 auto;
    max-width: 100%;
  }
}
@media (max-width: 1024px) {
  .game-image {
    max-width: 100%;
  }
}

.game-image img {
  display: flex;
  max-width: 400px;
  width: 100%;
  border-radius: var(--border-radius-md);
}

.game-description {
  display: flex;
  flex-direction: column;
  flex: 0 1 50%;
  padding: var(--padding-md);
  gap: var(--padding-md);
}
@media (max-width: 1024px) {
  .game-description {
    max-width: 100%;
  }
}
/* Pushing the points inside the container by using the same padding:left as the container */
.game-description ul {
  padding-left: var(--padding-md);
}

/* Space between list items */
.game-description ul li {
  padding-bottom: var(--padding-s);
}

.game-details {
  display: flex;
  flex-direction: column;
  gap: var(--padding-s);
}

/* Making select and buy button smaller inside the context of .game-details, while inheriting default styles */
.game-details select {
  max-width: 50%;
}

.game-details ~ a.buy-button {
  max-width: 50%;
}

.game-cover {
  flex: 1 1 40%; /* Cover image takes up 40% of width */
  max-width: 400px;
}
@media (max-width: 768px) {
  .game-cover {
    max-width: 100%;
  }
}

.game-cover img {
  width: 100%;
  /* TODO trenger jeg auto? */
  height: auto;
  border-radius: var(--border-radius-md);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.game-info {
  flex: 1 1 55%; /* Info section takes up the remaining space - I did not write this myself, it's copied from somewhere */
  display: flex;
  flex-direction: column;
  gap: var(--padding-md);
}
@media (max-width: 768px) {
  .game-info {
    max-width: 100%;
  }
}
.game-info .c-h1 {
  font-size: var(--text-xl);
  color: var(--white);
}

.game-thumbnails {
  display: flex;
  gap: var(--padding-md);
  flex-wrap: wrap;
}

/* This is copied code - I didn't write this */
.game-thumbnails img {
  width: calc(33.33% - 1rem);
  border-radius: var(--border-radius-s);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
@media (max-width: 768px) {
  .game-thumbnails img {
    width: 100%;
  }
}

.game-thumbnails img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.game-page {
  display: flex;
  flex-wrap: wrap;
  padding: var(--padding-l);
  gap: var(--padding-l);
  max-width: 1200px;
}
@media (max-width: 768px) {
  .game-page {
    flex-direction: column;
    align-items: center;
  }
}
