:root {
  /* Primary colors */
  --white: #efe9f4;
  --black: #25291c;
  --light-purple: #8f00ff;
  --medium-purple: #462a59;
  --dark-purple: #282445;
  --dark-purple-transparent: rgba(40, 36, 69, 0.2);
  --light-green: #2fef80;
  --dark-green: #23ce6b;

  /* Secondary colors */
  --pink: #ff00b8;
  --pink-transparent: rgba(255, 0, 184, 0.2);

  /* Text sizes */
  --text-s: 0.8rem;
  --text-md: 1rem;
  --text-l: 1.6rem;
  --text-xl: 2.4rem;

  /* Spacing */
  --padding-xs: 0.3rem;
  --padding-s: 0.6rem;
  --padding-md: 1rem;
  --padding-l: 2rem;
  --padding-uneven: 1rem 2rem;
  /* Font */
  --font-family-primary: "Open Sans", sans-serif;
  --font-family-secondary: Inter, sans-serif;
  --font-weight-s: 300;
  --font-weight-md: 400;
  --font-weight-l: 700;

  /* Other */
  --push-l: 5.625rem;
  --push-xl: 8rem;
  --border-radius-s: 5px;
  --border-radius-md: 8px;
}
